
// Theme
//
// Change the default theme color, fonts, sizing, etc. by modifying
// the following variables.

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Comfortaa:300,400,700');


//----------------------------------------
// Color system
//----------------------------------------
$blue:                            #50a1ff;
$indigo:                          #6610f2;
$purple:                          #7a54d8;
$pink:                            #e83e8c;
$red:                             #ff4954;
$orange:                          #fb8302;
$yellow:                          #f0cd18;
$green:                           #78cf18;
$teal:                            #20c997;
$cyan:                            #17a2b8;

// Context colors
$color-primary:                   $blue;
$color-secondary:                 #e9ecf0;
$color-success:                   $green;
$color-info:                      $purple;
$color-warning:                   $orange;
$color-danger:                    $red;
$color-light:                     #fafbfb;
$color-dark:                      #191919;


//----------------------------------------
// Background colors
//----------------------------------------
$color-bg-lightest:               #fcfdfe;
$color-bg-lighter:                #f9fafb;
$color-bg-light:                  #f5f6f7;
$color-bg-body:                   #ffffff;
$color-bg-dark:                   #191919;
$color-bg-gray:                   #fafbfd;


//----------------------------------------
// Text colors
//----------------------------------------
$color-text-darker:               #464650;
$color-text-dark:                 #555555;
$color-text:                      #6f6e73;
$color-text-light:                #888888;
$color-text-lighter:              #b2b5b8;
$color-text-lightest:             #bebdc2;
$color-text-secondary:            #929daf;
$color-text-disable:              #a5b3c7;
$color-text-placeholder:          #c9ccce;
$color-title:                     $color-text-darker;
$color-subtitle:                  $color-text-lightest;


////----------------------------------------
// Fonts
////----------------------------------------
$font-family-base:                "Open Sans", sans-serif;
$font-family-title:               "Comfortaa", sans-serif;

$font-size-base:                  0.9375rem;

$font-weight-base:                300;
$line-height-base:                1.9;

$h1-font-size:                    $font-size-base * 2.5;
$h2-font-size:                    $font-size-base * 2;
$h3-font-size:                    $font-size-base * 1.75;
$h4-font-size:                    $font-size-base * 1.5;
$h5-font-size:                    $font-size-base * 1.125;
$h6-font-size:                    $font-size-base * 1;

$h1-font-weight:                  300;
$h2-font-weight:                  300;
$h3-font-weight:                  300;
$h4-font-weight:                  300;
$h5-font-weight:                  400;
$h6-font-weight:                  400;

$display1-size:                   5rem;
$display2-size:                   4rem;
$display3-size:                   3.25rem;
$display4-size:                   2.75rem;

$display1-weight:                 300;
$display2-weight:                 300;
$display3-weight:                 300;
$display4-weight:                 300;


//----------------------------------------
// Navbar
//----------------------------------------
$navbar-min-height:               56px;
$navbar-offset-top:               10px;


//----------------------------------------
// Other variables
//----------------------------------------

// Feel free to override other variables here. You can see the list of
// all the available variables in `/plugin/thesaas/scss/_variables.scss`
