@import url('https://fonts.googleapis.com/css?family=Product%20Sans');

svg {
       font-family: Product Sans, Helvetica, Arial, sans-serif !important;
}

.block-number {
    text-align: center;
    font-weight: bold;
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #191919;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out
}

.partner-sm img {
    height: 30px;
}

.step-item {
    display: -webkit-box;
    display: flex;
    padding: 0.2rem 0;
}
.media-list
{
    width: 100%;
}
.session-title, h6
{
    color: #4285FA;
}

.block-number:hover {
    opacity: 1
}

.block-number::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 6px;
    margin-bottom: 2px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #191919
}

.mb-6
{
    color: #ffff;
}
.speakers
{
    position: relative;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 146px;
    padding-bottom: 90px;
}

.card-img-top {
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.block-number a:hover,
.block-number a:focus {
    color: #191919
}

.demo-section .main-content .section,
.demo-topbar .main-content .topbar,
.demo-navbar .main-content .navbar,
.demo-header .main-content .header,
.demo-footer .main-content .footer {
    margin: 30px 20px 100px;
    border: 1px solid #f5f6f7;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05)
}

.demo-topbar .main-content .topbar,
.demo-navbar .main-content .navbar {
    position: static;
    margin: 0
}

.demo-preview {
    margin-bottom: 3rem
}

.demo-preview .card-img-top {
    background-position: center 0px;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    height: 245px;
    -webkit-transition: 5s linear;
    transition: 5s linear
}

.demo-preview:hover .card-img-top {
    background-position: center 100%
}

.demo-preview .card-body {
    border-top: 1px solid #f3f4f5;
    background-color: #ecf2f7;
}

@media (max-width: 400px) {
    body>.footer .social a:last-child,
    body>.footer .nav a:last-child {
        display: none
    }
}

#image, #stories
{
    background-color: #ecf2f7;
}


@media (max-width: 991.98px)

{
    .section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5)
{

    #devfestGIF
     {
       display:none;
    }

    .speaker-banner img
   {
     display: none;
   }
    .section-header {
        text-align: center;
        max-width: 70%;
        margin: 0 auto 2rem;
    }

    .h-fullscreen, .h-100vh {
        height: 105vh !important;
    }

    .navbar-left {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
    }

   
}
/*# sourceMappingURL=style.css.map */

.speaker-banner img
{
  width: 200px;
}

.section {
    position: relative;
    border-bottom: none;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.section-header {
    text-align: center;
    max-width: 70%;
    margin: 0 auto 4rem;
}

.section-header-2 {
    text-align: center;
    max-width: 70%;
    margin: 0 auto 2rem;
}

.btn-info {
    color: #fff;
    background-color: #FBAB18;
    border-color: #FBAB18;
}

.navbar-toggler {
    margin-right: 2.1rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar-left img {
    margin: 0 auto;
}

@media (max-width: 991.98px)
{
    .navbar-expand-lg .navbar-mobile {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: flex-start;
        width: 300px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -300px;
        bottom: 0;
        padding: 20px;
        background-color: #fff;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-transition: left 0.3s ease;
        transition: left 0.3s ease;
        z-index: 1002;
    }
    .logo-dark
    {
       align-content: center;
    }

    
}

.navbar-light .nav-navbar>.nav-item>.nav-link, 
.navbar-light .nav-navbar>.nav-link, .navbar-stick-light.stick 
.nav-navbar>.nav-item>.nav-link, .navbar-stick-light.stick 
.nav-navbar>.nav-link {
    color: rgb(204, 214, 246);
}

.section {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

.section-header {
    text-align: center;
    max-width: 70%;
    margin: 0 auto 3rem!important;
}